.card {
  padding: 25px 15px;
  border-radius: 0;
  border: 1px solid #F5F5F5;

  // 全体ul
  ul {
    list-style: none;
    margin: 0 0 16px;
    padding: 0;
  }

  &:not(:first-child) {
    border-top: none;
  }

  &_textarea {
    margin-top: 10px;

    >textarea {
      border: none;
      resize: none;
    }
  }

  &_submit {
    text-align: right;
    margin-top: 50px;

    >input[type="submit"] {
      background-color: #FBE3D6;
      color: #F8A061;
      border-radius: 36px;
      border: none;
      padding: 11px 27px;
      font-size: 20px;
    }
  }

  &_tag {
    display: flex;

    >li {
      font-size: 20px;

      &:not(:first-child) {
        margin-left: 10px;
      }

      >span {
        border-radius: 15px;
        padding: 8px 16px;
        background-color: #F8A061;
      }
    }
  }

  &_counter {
    display: flex;
    margin-top: 15px;

    >li {
      color: #B8BCC5;
      display: flex;
      align-items: center;

      &:not(:first-child) {
        margin-left: 15px;

        &::before {
          background-image: url('/assets/icon_heart.svg');
        }
      }

      &::before {
        display: block;
        content: "";
        background-image: url('/assets/icon_answer.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 20px;
        height: 20px;
        transform: scale(-1, 1);
        margin-right: 5px;
      }
    }
  }
}