.footer {
  background-color: #F2F2F2;
  padding: 100px 130px 60px;
  margin-top: 200px;

  &_col2 {
    display: flex;
    justify-content: space-between;

    &__innerLink {
      display: flex;
      margin-right: -25px;

      >li:not(:last-child) {
        margin-right: 32px;
      }
    }

    &__outerLink {
      display: flex;
      justify-content: flex-end;
      margin-top: 60px;

      >li:not(:last-child) {
        margin-right: 30px;
      }

    }
  }

  &__comment {
    margin-top: 30px;
  }

  p {
    font-size: 12px;
  }

  p>a {
    text-decoration: underline;
  }

  a[target="_blank"]::after {
    display: inline-block;
    content: '';
    margin-left: 6px;
    vertical-align: middle;
    background-image: url('/assets/icon_blank.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 12px;
    height: 12px;
  }


  ul {
    list-style: none;

    >li {
      font-size: 16px;
    }
  }
}