@import '../global/mixins';

.sidebar {
    width: 280px;
}

.netaPost {
    background-color: #F8A061;
    color: #fff;
    width: 200px;
    height: 54px;
    display: flex;
    justify-content: center;
    border-radius: 30px !important;
}

@include mobile() {
    .title {
        background-color: #fff;
    }
}