@import '../global/mixins';

$color-primery: #0000ff;

.title {
    color: $color-primery;
}

.mv {
    width: 100%;
    height: auto;
}

@include mobile() {
    .title {
        background-color: #fff;
    }
}