@use "../scss/common/index" as *;

.main {
    height: 100%;
    box-sizing: border-box;
}

.main_header {
    background-color: lightgoldenrodyellow;
    height: $headerHeight - 10px;

    @include mq(lg) {
        height: $headerHeight + 10px !important;
    }

    padding: $layoutSpacing;
}

.main_container {
    height: calc(100% - $headerHeight);
    display: flex;

    & .main_sidebar {
        background-color: #f4f6f9;
        width: $sidebarWidth;
        padding: $layoutSpacing;
        word-break: break-all;

        & p:hover {
            @include p-supporting;

            & .red {
                @include p-supporting($color: red, $size: 20px);
            }

            & .blue {
                @include p-supporting($color: blue, $align: center, $size: 30px);
            }
        }

        & hr {
            background-color: darkgrey;
            height: 1px;
            border: none;
            margin: 10px 0px 10px 0px;
        }

        & ul {
            & li {
                display: flex;
                align-items: center;
                margin: 10px;

                & .unselected {
                    text-decoration: none;
                }

                & .selected {
                    text-decoration: underline;

                    font: {
                        weight: bold;
                        style: italic;
                    }
                }
            }
        }
    }

    & .main_contents {
        min-height: 500px;
        width: calc(100% - $sidebarWidth);
        padding: $layoutSpacing;
    }
}

.main_footer {
    background-color: darkgrey;
    text-align: center;
    padding: $layoutSpacing;
    color: white;
}